@import "style.css";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.container-post {
    border: solid gray;
    display: grid;
    grid-template-rows: 100px 750px 500px 100px;
    grid-template-columns: 100%;
    grid-template-areas: 
    "nav"
    "post"
    "author"
    "ft";
}

.nav-items{
    display:none;
}

/* Post Style */
.post{
    grid-area: post;
}

#img-post{
    width: 100%;
}

.post-box{
    width: 100%;
    height: 500px;
    overflow: scroll;
}

.post-box > h1{
    font-style: italic;
    font-size: 30px;
    margin: 0;
    padding: 0;
}

.date-post{
    font-weight: bold;
}

#post-p{
    text-align: justify;
    line-height: 16px;
    width: 98%;
}

/* Author style */
.author{
    grid-area: author;
    overflow: scroll;
}

.author-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#author-avatar{
    height: 35%;
    width: 35%;
    border: none;
    border-radius: 50%;
}

.author-description{
    text-align: center;
}

.author-description > h2{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.author-description > h3{
    color: gray;
    margin: 0;
    padding: 0;
}

.author-description > h4{
    color: gray;
    margin: 0;
    padding: 0;
}

.author-description > a{
    color: blueviolet;
    font-size: 20px;
    margin-left: 10px;
}

.author-description > a:hover{
    color: black;
}

.author-bio{
    text-align: justify;
    width: 98%;
}


/* Medium Screens */
@media (min-width: 600px) and (max-width:900px) {
    .container {
        display: grid;
        grid-template-rows: 100px 750px 450px 100px;
        grid-template-columns: 100%;
        grid-template-areas: 
        "nav nav nav nav"
        "post post post"
        "author author author"
        "ft ft ft";
    }

    .author-flex{
        margin-left: 20%;
        margin-top: -3%;
    }

    #author-avatar{
        margin-top: -5%;
        margin-right: 2%;
    }

}



/* Large Screens */
@media (min-width:901px) {
    .container-post {
        border: solid red;
        display: grid;
        grid-template-rows: 100px 900px 350px 100px;
        grid-template-columns: 100%;
        grid-template-areas: 
        "nav nav nav nav nav nav"
        "post post post post post post"
        "author author author author author author"
        "ft ft ft ft ft ft";
    }

    /* Navigation Style*/
    .nav-items{
        display: flex;
        margin: 0;
    }

    #img-post{
        width: 50%;
        margin-left: 25%;
    }

    .post-box{
        width: 100%;
        height: 70%;
        overflow: hidden;
    }

    .author{
        align-items: center;
        overflow: hidden;
    }

    .author-flex{
        display: flex;
        flex-direction: row;
        margin-left: 20%;
        margin-top: -3%;
    }

    #author-avatar{
        margin-top: -5%;
        margin-right: 2%;
    }

    .author-description > h2, h3, h4{
        text-align: left;
    }

    .author-description > h2{
        margin-top: 100px;
    }
    
    .author-description{
        text-align: justify;
    }

    .author-bio{
        width: 80%;
    }
}